# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Kotlin
*.kt~

# Gradle files
.gradle/
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.cache/

# Kotlin/Native
*.klib
*.dSYM/

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# VS Code directories
.vscode/

# Windows image file caches
Thumbs.db
ehthumbs.db

# JetBrains IDE
.idea/
*.iml

# Mac OS
.DS_Store

# Others
*.swp
*.swo
*~

# Local configuration file (uncomment and adapt if needed)
# `user.properties` can contain sensitive info 
# user.properties

# Junit
*.junit
